.contato {
  background: #641644;
  font-family: "Poppins", sans-serif;
}

.contato-container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}

.contato-container::after {
  /*detalhe*/
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/linha.png") no-repeat center;
  position: absolute;
  top: -50px;
  left: 20px;
  /*rotate: 30deg;*/
}
.contato-container .subtitulo-contato {
  color: white;
  padding: 0;
}

.formulario-contato {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  align-items: center;
  height: 2.75rem;
  width: 100%;
}
.btn {
  background-color: white !important;
  color: #641644 !important;
  border-width: 2px !important;
  border-color: linear-gradient(#862e63, #ac6d93) !important;
}

.btn-primary:hover {
  border-color: white !important;
}
.box {
  background: white !important;
  padding-inline: 1rem;
  border-radius: 0.5rem;
  max-width: 25rem;
  width: 100%;
}
.contatos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  gap: 10px;
}
.social-contato {
  display: flex;
  gap: 20px;
  align-items: center;
}

@media (max-width: 800px) {
  .contato-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    padding-top: 20px;
    padding-bottom: 250px;
  }
  .contatos {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-items: center;
    gap: 10px;
  }
  .subtitulo-contato {
    display: none;
  }
}
