.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  font-family: "Poppins", sans-serif;
}

.experiencia .subtitulo-experiencia {
  color: #641544;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 100%;
  margin-bottom: 60px;
  color: #641544;
}

.experiencia-texto strong {
  color: #641544;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: #641544;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.empresa::before {
  content: "";
  display: block;
  width: 16px;
  height: 100%;
  background: linear-gradient(#862e63, #ac6d93);
  position: absolute;
  top: 0;
  left: -10px;
  z-index: -1;
  border-radius: 4px;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  text-align: right;
  width: 80px;
  color: #8d8a8a;
  font-size: 0.875rem;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
  color: white;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #c0b7b7;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start; /*alinha ao inicio*/
}

.empresa-habilidades li {
  font-size: 0.875rem; /*14px*/
  line-height: 1.4;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo-experiencia {
    color: #641544;
    justify-items: center;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    padding-top: 10px;
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }
  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
  .empresa-titulo {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
