/*.header {
  width: 100%; /*para de crescer quando chega no valor estabelecido*/
/* margin: 0 auto;
  /*position: fixed;
}*/
/*.navegacao {
  position: fixed;
  top: 0px;
  padding: 20px;
  width: 100%;
  left: 0px;
  z-index: 1000;
}*/
/*.header-menu {
  display: flex; /*item um ao lado do outro*/
/*flex-wrap: wrap; /*caso diminua mais do que o tamanho dele, comece a quebrar*/
/*gap: 10px;
  justify-content: center;
}*/

/*.header-menu a {
  font-size: 1.125rem; /*1 rem = 16px; então 18/16 = 1.125*/
/*line-height: 1.3; /*altura de linha*/
/* padding: 10px 20px;

  text-decoration: none;
  color: white;
  display: block;
}*/
.image-logo {
  max-width: 55px;
  border-radius: 50%;
  object-fit: cover;
}
.navbar {
  background-color: #350020a1;
  height: 80px;
  margin: 20px;
  border-radius: 16px;
  padding: 0.5rem;
}

.navbar-brand {
  opacity: 100%;
  font-weight: 500;
  color: #009970;
  font-size: 24px;
}
.navbar-toggler {
  background-color: white !important;
}

.navbar-toggler:focus,
.btn-close:focus {
  box-shadow: none;
  outline: none;
}
.nav-link {
  color: #2c2b2b !important;
  font-weight: 600 !important;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.nav-link:hover,
.nav-link.active {
  color: #a74680 !important;
  font-weight: 700;
  border-bottom: #2c2b2b;
}
.offcanvas-header {
  background-color: #641544;
}
@media (min-with: 991px) {
  .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    /*background-color: #641544;*/
    background-color: #009970;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  .nav-link:hover::before {
    width: 100%;
    visibility: visible;
  }
}

/*@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .header a {
    background: #f5f5f5;
    border-radius: 4px;
  }
}*/
