.introducao {
  background-color: #641544;
  width: 100%;
  height: 100vh;
}
.introducao-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*gap: 100px;*/
  align-items: center;
  justify-items: center;
  /*padding-top: 200px;*/
  height: 100%;
}

.image-perfil {
  max-width: 21rem;
  box-shadow: white -40px 2px 200px -40px;
  border-radius: 999px;
  border: 0;
  outline: 0;
}
.social-intro {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  /*lg:flex-col gap-3*/
}
.apresentacao {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.informacoes {
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  align-items: center;
  padding: 20px;
}

@media (max-width: 1000px) {
  /*diminui o texto proporcionalmente a tela*/
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  /*diminui a imagem e texto proporcionalmente a tela*/
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
    text-align: center;
  }
  .introducao-conteudo {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 130px;
  }
  .introducao h1::before {
    /*diminui o background da imagem*/
    width: 30px;
    height: 10px;
    left: 0px;
  }
  .text-paragraph-1 {
    text-align: center;
  }
  .informacoes {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    justify-content: center;
  }
  .social-intro {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .introducao {
    grid-template-columns: 1fr; /*irá ocupar apenas 1 coluna*/
  }
  .introducao img {
    /*a imagem desaparece ao chegar em 400px ou menos*/
    display: none;
  }
}
